<div  class="bg-cover mx-3 bg-center flex shadow-lg w-[400px] h-[250px] justify-center rounded-lg bg-black " style="background-image: url('../../../../assets/style1-front.png')">
  <div class=" p-6 flex ms-auto  w-[70%] my-auto">
     <div class="flex flex-col justify-center items-center gap-4 mx-auto">
         <!-- <img src="../assets/isnov2.png" alt="" class=""> -->
         <img id="blah"  [src] = "value?.logo"   alt="" class="w-[50%]">
 
         <h1 class="mb-1 text-xl justify-center mx-auto font-sans font-semibold leading-tight text-black ">
           <!-- COMPANYNAM -->
           {{value?.name | uppercase}}
                
         </h1>
     </div>
     
   <!-- <h6
     class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
     Name of the company : {{value?.name}}
   </h6>
   <p class="mb-4 text-base leading-normal"> -->
     <!-- Some quick example text to build on the card title and make up the
     bulk of the card's content.
   </p> 
   <a
     type="button"
     href="#"
     class="pointer-events-auto me-5 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
     {{value?.email}}
   </a>
   <a
     type="button"
     href="#"
     class="pointer-events-auto inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
     Another Link
   </a>
 </div> -->
 </div>
 