<div  class="bg-cover mx-3 bg-center flex w-[400px] h-[250px] justify-center rounded-lg bg-black  shadow-lg " style="background-image: url('/assets/style_2/style2-front.png')">
  <div class=" p-6 flex mx-auto  w-[100%] my-auto">
     <div class="flex flex-col justify-center items-center gap-4 mx-auto">
         <!-- <img src="../assets/isnov2.png" alt="" class=""> -->
         <img id="blah"   [src] = "value?.logo"    alt="" class="w-[50%]">
 
         <h1 class="mb-1 text-xl justify-center mx-auto font-sans font-semibold text-black leading-tight  ">
           <!-- COMPANYNAM -->
           {{value?.name | uppercase}}
                 <div class="flex ">
                     <!-- {{value?.logo }} -->
                     <!-- {{imgUrl}} -->
                 </div>
         </h1>
     </div>  
 </div>
 
